.period  {
	display:  inline-block;
	width:  200px;
	padding-right:  10px;
	text-align:  left;
	font-weight:  bold;
	color:   #25f;
}

.books li  {
	list-style-type: none;
}

.main  {
	margin-left:  320px;
}

.topic  {
	position:  fixed;
	top:  20%;
	bottom:  20%;
	width:  300px;
	left:  -280px;
	background-color:  #eea;
	overflow: scroll;
}

footer  {
	margin-top:  300px;
}