.period  {
	display:  inline-block;
	width:  200px;
	padding-right:  10px;
	text-align:  left;
	font-weight:  bold;
	color:   #25f;
}

.books li  {
	list-style-type: none;
}

.main  {
	margin-left:  320px;
}

.topic  {
	background-color:  #eea;
}