.period  {
	display:  inline-block;
	width:  200px;
	padding-right:  10px;
	text-align:  left;
	font-weight:  bold;
	color:   #25f;
}

.books li  {
	list-style-type: none;
}

.main  {
	margin-left:  320px;
}

.topic  {
	position:  fixed;
	top:  200px;
	bottom:  200px;
	width:  300px;
	background-color:  #eea;
}

body  {
	height:  900px;
}

footer  {
	position:  fixed;
	bottom:  0;
	width:  100%;
}