html  {
	background-color:  #9cccff;	
}

body  {
	font-size:  20px;
	font-family:  Georgia Helvetica Sans-serif;
	line-height:  1;
	background:  #FEF;
	color:  #330;
	margin:  10px auto 0px auto;
	padding:  0px;
	border:  1px solid black;
	box-shadow:  2px 2px 5px rgba(0,0,0,.5);
	width:  1024px;
}

header  {
	height:  100px;
	width:  100%;
	background:  url(../images/logo2.png);
}

footer  {
	color:  #FFF;
	width:  100%;
	background:  #555;
	margin-bottom:  -20px;
	clear:  both;
}

aside  {
	width:  300px;
	float:  right;
	border-top:  20px solid #555;
	border-radius:  10px;
	box-shadow:  10px 10px 20px rgba(10,10,10,.8);
	margin:  10px 20px 0px 10px;
	padding:  10px;
	background-image:  -webkit-linear-gradient(top left, #2DD, white);
	background-image:  -moz-linear-gradient(top left, #2DD, white);
	background-image:  -o-linear-gradient(top left, #2DD, white);
	background-image:  linear-gradient(top left, #2DD, white);
}

p, form  {
	margin:  20px;
}

.paragraph p:first-letter  {
	font-size:  1.5em;
}

.paragraph p:first-line  {
	font-weight:  bold;
}

h1  {
	font-size:  2em;
	font-family:  Arial Sans-serif;
	margin:  30px 0px 10px 20px;
	color:  #337722;
	text-transform:  uppercase;
	text-shadow:  -4px 4px 3px #999999;
	text-align:  center;
	letter-spacing:  1px;	
}

h2  {
	margin: 20px;
	font-family:  "Century Gothic" "Gill Sans" serif;
	font-size:  1.5em;
	border-bottom:  3px solid #999;
	overflow:  hidden;
}

aside h2  {
	border:  none;
}

.paragraph ul  {
	margin-left:  30px;
	line-height:  2em;
}

ul.restaurants   {
	margin-left:  30px;
	line-height:  1.3em;
}

.restaurants li  {
	list-style:  none;
	padding-left:  30px;
	background:  url(../images/logo.png);
	background-repeat:  no-repeat;
	background-size:  20px auto;
	background-position: 0px 5px;
}

.paragraph ul :nth-child(odd)  {
	color:  red;
}

.paragraph li  {
	list-style-type:  square;
	list-style-position:  outside;
}

.paragraph li:nth-of-type(odd)  {
	list-style-type:  circle;
}

.contactForm input:focus  {
	background-color:  #eaeaea;
}

.contactForm input[type="submit"]  {
	letter-spacing: 0.2em;
	font-family: Arial, "MS Trebuchet", sans-serif;
	text-transform: uppercase;
	color:  white;
	font-size: 1em;
	padding:  10px 20px 10px 20px;
	margin-left:  100px;
	border:  none;
	background-image:  -webkit-linear-gradient(bottom, #2DD, #55f);
	border-radius:  10px;
	box-shadow:  5px 5px #479;
}

.contactForm label  {
	display:  inline-block;
	width:  80px;
	line-height:  1.5em;
	vertical-align: top;
	text-align: right;
	margin-right:  15px;
	font-weight: bold;
}

ul.nav  {
	margin-left:  0px;
	padding-left:  0px;
	background:  #eaa;
	box-shadow:  2px 2px #333;
	border:  solid 1px #222;
}

.nav li  {
	text-align:  center;
	background:  #ea3;
	border-left:  solid 1px #222;
	border-right:  solid 1px #222;
	list-style-type:  none;
	display:  inline-block;
	margin-left:  0px;
	padding-left:  0px;
	width:  150px;	
}

.nav a  {
	text-transform:  uppercase;
	padding:  5px 5px 4px 4px;
	text-decoration: none;
	width:  100%;
	display:  inline-block;
	font-weight:  bold;
	transition-property:  all;
	transition-duration:  .5s;
}

@-webkit-keyframes navbar  {
	from  {
		transform:  scale(1.2)  rotate(10deg);
	}
	10%  {
		transform:  scale(1.2) rotate(-10deg);
	}
	30%  {
		transform:  scale(1.2) rotate(5deg);
	}
	60%  {
		transform:  scale(1.1) rotate(-5deg);
	}
	95%  {
		transform:  scale(1.05) rotate(2deg);
	}
	to  {
		transform:  scale(1) rotate(-1deg);
	}
}

.nav a:hover  {
	background-color:  #22f;
	color:  white;
/*	transform:  scale(1.2) rotate(10deg);*/
	transform:  scale(1.2);
	transform-origin:  center center;
	/* -webkit-animation:  navbar .5s; */
}

.nav a:active  {
	color:  #dda;
	background-color:  #288;
}

audio  {
	margin-left:  20px;
}

table.tasks  {
	margin:  20px;
	text-align: left;
	vertical-align: baseline;
	border-collapse:  collapse;
	border: 2px solid #000;
}

.tasks th, td  {
	padding:  5px 10px 5px 10px;
	border: 1px solid #999;
}

.tasks th  {
	background-color: #55f;
	color:  #fff;
	border-bottom: 2px solid #000;
	text-align:  center;
}

.tasks caption  {
	margin-top:  10px;
}

.tasks tr:nth-of-type(odd)  {
	background-color: #eff;
}

.tasks tr:nth-of-type(even)  {
	background-color: #ffd;
}

canvas  {
	border: 2px solid #999;
	margin:  20px;
}