aside  {
	width:  300px;
	float:  right;
	border-top:  20px solid #555;
	border-radius:  10px;
	box-shadow:  10px 10px 20px rgba(10,10,10,.8);
	margin:  10px 20px 0px 10px;
	padding:  10px;
	background-image:  -webkit-linear-gradient(top left, #2DD, white);
	background-image:  -moz-linear-gradient(top left, #2DD, white);
	background-image:  -o-linear-gradient(top left, #2DD, white);
	background-image:  linear-gradient(top left, #2DD, white);
}


aside h2  {
	border:  none;
}

.paragraph p:first-letter  {
	font-size:  1.5em;
}

.paragraph p:first-line  {
	font-weight:  bold;
}

.paragraph ul  {
	margin-left:  30px;
	line-height:  2em;
}

ul.restaurants   {
	margin-left:  30px;
	line-height:  1.3em;
}

.restaurants li  {
	list-style:  none;
	padding-left:  30px;
	background:  url(../images/logo.png);
	background-repeat:  no-repeat;
	background-size:  20px auto;
	background-position: 0px 5px;
}

.paragraph ul :nth-child(odd)  {
	color:  red;
}

.paragraph li  {
	list-style-type:  square;
	list-style-position:  outside;
}

.paragraph li:nth-of-type(odd)  {
	list-style-type:  circle;
}

.contactForm input:focus  {
	background-color:  #eaeaea;
}

.contactForm input[type="submit"]  {
	letter-spacing: 0.2em;
	font-family: Arial, "MS Trebuchet", sans-serif;
	text-transform: uppercase;
	color:  white;
	font-size: 1em;
	padding:  10px 20px 10px 20px;
	margin-left:  100px;
	border:  none;
	background-image:  -webkit-linear-gradient(bottom, #2DD, #55f);
	border-radius:  10px;
	box-shadow:  5px 5px #479;
}

.contactForm label  {
	display:  inline-block;
	width:  80px;
	line-height:  1.5em;
	vertical-align: top;
	text-align: right;
	margin-right:  15px;
	font-weight: bold;
}

@-webkit-keyframes navbar  {
	from  {
		transform:  scale(1.2)  rotate(10deg);
	}
	10%  {
		transform:  scale(1.2) rotate(-10deg);
	}
	30%  {
		transform:  scale(1.2) rotate(5deg);
	}
	60%  {
		transform:  scale(1.1) rotate(-5deg);
	}
	95%  {
		transform:  scale(1.05) rotate(2deg);
	}
	to  {
		transform:  scale(1) rotate(-1deg);
	}
}

audio  {
	margin-left:  20px;
}

table.tasks  {
	margin:  20px;
	text-align: left;
	vertical-align: baseline;
	border-collapse:  collapse;
	border: 2px solid #000;
}

.tasks th, td  {
	padding:  5px 10px 5px 10px;
	border: 1px solid #999;
}

.tasks th  {
	background-color: #55f;
	color:  #fff;
	border-bottom: 2px solid #000;
	text-align:  center;
}

.tasks caption  {
	margin-top:  10px;
}

.tasks tr:nth-of-type(odd)  {
	background-color: #eff;
}

.tasks tr:nth-of-type(even)  {
	background-color: #ffd;
}

canvas  {
	border: 2px solid #999;
	margin:  20px;
}